
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.TITULO {
  width: 100%;
  display: flex;
  justify-content: center;
}

#excusa {
  width: 100%;
  display: flex;
  justify-content: center;
}
